header {
  height: 100px;
  font-size: 30px;
  line-height: 100px;
  a {
    color: white;
    margin-right: 50px;
  }
  span {
    margin-right: 50px;
  }
}


.wrapper {
  &:after {
    content: "";
    display: block;
    clear: both;
  }
  .left-content {
    width: 25%;
    color: red;
    height: 1000px;
    border-right: 1px solid gray;
    float: left;
  }
  .right-content {
    background-color: #EEEEEE;
    float: right;
    width: 75%;
    min-height: 1000px;
    h1 {
      margin-bottom: 50px;
    }
    a {
      text-decoration: none;
    }
    .subject-box {
      color: black;
      background-color: white;
      height: 80px;
      padding:10px 0 0 20px;
      margin: 0 30px;
      margin-bottom: 20px;
      span {
        font-size: 15px;
        margin-right: 20px;
      }
      div {
        font-size: 25px;
      }
    }
    .subject-box:hover {
      border-bottom: 8px solid #FFCC33;
    }
  }
}
