$color: #66FFCC;
// $yellow_like: #FFD700;
.wrapper {
  &:after {
    content: "";
    display: block;
    clear: both;
  }
  .left-content {
    width: 450px;
    height: 1000px;
    font-size: 30px;
    border-right: 1px solid gray;
    float: left;
    a {
      text-decoration: none;
      color: black;
    }
    .list-folders {
      padding-left: 20px;
      margin-bottom: 30px;
      height: 50px;
      line-height: 50px;
    }
    .create-folder {
      padding-left: 20px;
    }
    .list-folders:hover {
      background-color: $yellow_like;
    }
    .create-folder:hover {
      background-color: $yellow_like;
    }
    #your-folder {
      font-size: 15px;
      color: #DDDDDD;
      padding-left: 20px;
    }
    .fa-folder {
      color: $color;
    }
    .fa-plus {
      color: $color;
    }
    span {
      cursor: pointer;
    }
  }
  .right-content {
    background-color: #EEEEEE;
    float: right;
    width: calc(100% - 450px);
    min-height: 1000px;
    h1 {
      margin-bottom: 50px;
    }
    a {
      text-decoration: none;
    }
    .subject-box {
      color: black;
      background-color: white;
      height: 80px;
      padding:10px 0 0 20px;
      margin: 0 30px;
      margin-bottom: 20px;
      span {
        font-size: 15px;
        margin-right: 20px;
      }
      div {
        font-size: 25px;
      }
    }
    .subject-box:hover {
      border-bottom: 8px solid #FFCC33;
    }
  }
}
