
<div class="wrapper">
  <div class="left-content">
    <!-- ここにフォルダ一覧 -->
    <ul>
      <li>a</li>
      <li>b</li>
      <li>c</li>
    </ul>
  </div>
  <div class="right-content">
    <!-- ここにsubjects一覧 -->
    <h1>科目一覧</h1>
    <% @subjects.each do |subject| %>
      <%= link_to subject_path(subject.id) do %>
        <div class="subject-box">
          <span><%= subject.words.count %>用語</span>
          <span><%= subject.user.name %></span>
          <div class="">
            <%= subject.title %>
          </div>
        </div>
        <% end %>
      <% end %>
  </div>
</div>
