
<div class="wrapper">
  <div class="left-content">
    <!-- ここにフォルダ一覧 -->
    <ul>
      <li>a</li>
      <li>b</li>
      <li>c</li>
    </ul>
  </div>
  <div class="right-content">
    <!-- ここにsubjects一覧 -->
    <h1>科目一覧</h1>
    <%= link_to do %>
      <div class="subject">
        <p>何用語</p>
        <p>subject名</p>
      </div>
      <% end %>
  </div>
</div>
