@mixin word_box {
  height: 50px;
  width: 100%;
  border-bottom: 1px solid gray;
}

@mixin button {
  padding: 30px 120px;;
  background-color: #00FFFF;
  color: white;
  font-size: 30px;
  margin: 30px 100px 30px 0;
}
